extends ./base.jade

block content
  .col-lg-12
      h1.navbarh1 Borderless Family
      .bs-component
          section(data-ui-view='')
              p.bs-component
                a#registerbtn.btn.btn-primary.btn-lg(href='#') Register
              h2#homedescription Example body text

